
.landing-page {
  background: url(./img/EdificioPortada.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.form-containet {
  display: flex;
  width: 1000px;
  height: 600px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  backdrop-filter: blur(20px);
  overflow: hidden;
}

 div .col-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  background: rgba(255, 255, 255, 0.3);
  background-repeat: blur(30px);
  border-radius: 0 30% 20% 0;
  transition: border-radius .3s; 
  color: white;
}


.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(120px); /* Mueve el contenedor 20px a la izquierda */
}

.col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
}

.google-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px; /* Ajusta el margen según sea necesario */
}


@media(max-width: 892px) {
  .form-containet {
      width: 80%;
  }
  .col-1 {
      display: none;
  }
  .col-2 {
      width: 100%;
  }
}






/*SUBE*/
.dropzone {
  border: 2px dashed #000000;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.dropzone.active {
  border-color: #0056b3;
}

.dropzone i {
  display: block;
  margin-bottom: 10px;
}

.dropzone p {
  margin: 0;
  color: #6c757d;
}

.mb-3{
  background: rgb(255, 255, 255);
  align-items: center;
}
