.landing-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden; /* Asegúrate de ocultar cualquier desbordamiento */
}

.landing-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./img/EdificioPortada.jpg) center/cover no-repeat;
  filter: blur(3px); /* Ajusta el nivel de desenfoque aquí */
  z-index: -1; /* Asegúrate de que el pseudo-elemento esté detrás del contenido */
}

.form-containet {
  display: flex;
  width: 1000px;
  height: 600px;
  border-radius: 30px;
  overflow: hidden;
  z-index: 1; /* Asegúrate de que el contenido esté sobre el pseudo-elemento */
}

div .col-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  background-repeat: blur(30px);
  border-radius: 0 30% 20% 0;
  transition: border-radius 0.3s; 
  color: white;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(120px); /* Mueve el contenedor 20px a la izquierda */
}

.col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
}

.google-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px; /* Ajusta el margen según sea necesario */
}

@media (max-width: 892px) {
  .form-containet {
    width: 80%;
  }
  .col-1 {
    display: none;
  }
  .col-2 {
    width: 100%;
  }
}

/*SUBE*/
.dropzone {
  border: 2px dashed #000000;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.dropzone.active {
  border-color: #0056b3;
}

.dropzone i {
  display: block;
  margin-bottom: 10px;
}

.dropzone p {
  margin: 0;
  color: #6c757d;
}

.mb-3 {
  background: rgb(255, 255, 255);
  align-items: center;
}
